.ourpartner {
  width: 100vw;
  background-size: 100%;
  display: table;
  padding: 5% 0;
  background-color: #f7f9ff;
  opacity: 1;
}

.ptable {
  vertical-align: middle;
  display: table-cell;
}

.container {
  width: 85%;
  margin: 50px 0 0;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col_12 {
  -webkit-box-flex: 0;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.ourpartner .partner_title {
  margin: 0 0 30px;
}
.ourpartner .partner_title .h2 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}

.ourpartner .partner_title p {
  font-size: 18px;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  text-align: center;
  color: rgba(0, 0, 0, 0.36);
  padding: 10px 0 20px 0;
}

p {
  margin: 0;
}

.partnerLogo.plr {
  padding: 0;
}
.partnerLogo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px -20px 0;
  list-style: none;
  /* -webkit-box-pack: start; */
  justify-content: flex-start;
}

.partnerLogo a {
  -webkit-box-flex: 1;
  flex: 1 0 15%;
  -webkit-box-align: center;
  justify-content: center;
  max-width: 130px;
  margin-top: 20px;
  margin-right: 35px;
  background: #fff;
  color: #000;
  display: block;
  position: relative;
}

.partnerLogo .logo_icon {
  min-width: 130px;
  height: 68px;
  text-align: center;
  border-radius: 4px;
  border: solid 0.6px #dedfdf;
  background-color: #fff;
  width: 100%;
  /* -moz-transition: all 0.1s; */
  filter: grayscale(100%);
  opacity: 0.6;
  background-size: 1115px 932px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.agon {
  background-image: url("https://static.pbcdn.in/cdn/images/home-v1/logos@1x.png?v=24");
}

.logo_icon img {
  width: 130px;
  height: 68px;
  vertical-align: middle;
}
.logo_icon:hover {
  filter: grayscale(0%);
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .partnerLogo {
    margin: 0;
    justify-content: space-around;
  }
}
